@import url('https://fonts.googleapis.com/css?family=Alice|PT+Serif+Caption|Archivo+Black');
@font-face {
  font-family: 'Gotham-Back-Regular';
  src: local('Gotham-Back-Regular'), url(./fonts/GothamBlackRegular.ttf) format('truetype');
}
@font-face {
  font-family: 'Bebas-Neue';
  src: local('Bebas-Neue'), url(./fonts/BebasNeue.otf) format('opentype');
}

h1, p {
  font-family: 'Alice', serif;
}

td {
  padding-right: 5px;
}

.App {
  text-align: center;
  background-color: #f4f2ed;
}

.App-container {
  margin-top: 57px;
}

a {
  text-decoration: none !important;
}

nav {
  background-color: white;
}

/* About Page Begin */

/* About Mission Section BEGIN */
.about-mission-container{
  background-attachment: fixed;
  background-image: url('./photos/blurrychurchedited.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  height: 92vh;
  border: solid;
}

.about-mission-header{
  padding-top: 200px;
  font-weight: 600;
}

.about-mission-text{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding-top: 3vw;
  margin-left: 20vw;
  margin-right: 20vw;
}

@media screen and (max-width: 900px) {
  .about-mission-header{ padding-top: 175px; font-size: 32px; }
  .about-mission-text{ font-size: 16px; }
}

@media screen and (max-width: 600px) {
  .about-mission-header{ padding-top: 135px; font-size: 32px; }
  .about-mission-text{ font-size: 16px; }
}
@media screen and (max-width: 360px) {
  .about-mission-header{ padding-top: 120px; font-size: 28px; }
  .about-mission-text{ font-size: 14px; }
}
/* About Mission Section END */

/* About Leader Section BEGIN */
.about-leader-container {
  margin-right: 0px !important;
  margin-top: 50px;
}

.about-leader-row {
  margin-right: 0px !important;
  padding-bottom: 5vw;
  padding-left: 10%;
  padding-right: 10%;
}

.about-leader-header {
  font-family: "Alice", serif;
  font-weight: 600;
  margin-top: 75px;
}

.about-leader-image {
  margin-top: 4%;
  border-radius: 50%;
  width: 18.5vw;
  height: 18.5vw;
}
/*
.about-leader-image-border {
  margin: auto;
  border-radius: 50%;
  background-image: url('./photos/mediumleather.jpg');
  height: 20vw;
  width: 20vw;
}
*/
.about-leader-name{
  margin-top: 30px;
  font-family: 'Alice', serif;
  font-size: 32px;
}

.about-leader-text{
  width: 40vw;
  text-align: center;
  font-family: 'Alice', serif;
}

@media screen and (max-width: 1150px){
  .about-leader-name { font-size: 24px; margin-top: 20px;}
  .about-leader-text { font-size: 14px; }
}

@media screen and (max-width: 1000px){
  .about-leader-image-border {  height: 220px; width: 220px; }
  .about-leader-image { height: 200px; width: 200px; }
}

@media screen and (max-width: 800px){
  .about-leader-image-border { margin-left: 21.5vw; height: 35vw; width: 35vw; }
  .about-leader-image { height: 32vw; width: 32vw; }
  .about-leader-name {margin-left: 3vw}
  .about-leader-text { margin-left: 2vw; min-width: 400px; width: auto; }
}

@media screen and (max-width: 500px){
  .about-leader-text { min-width: 200px; width: auto; }
}
/* About Leaders Section END */

/* About Deacons Section BEGIN */

.about-deacon-container {
  margin-right: 0px !important;
  margin-top: 50px;
}

.about-deacon-image {
  margin-top: 4%;
  border-radius: 50%;
  width: 14vw;
  height: 14vw;
}

.about-deacon-nameA,
.about-deacon-nameB {
  font-family: 'Alice', serif;
  font-weight: 600;
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 0vw;
}

.about-deacon-rowA {
  margin-right: 0px !important;
  padding-bottom: 0;
  padding-left: 10%;
  padding-right: 10%;
}

.about-deacon-rowB {
  margin-right: 0px !important;
  padding-bottom: 5vw;
  padding-left: 20%;
  padding-right: 20%;
}
/*
.about-deacon-image-borderA {
  border-radius: 50%;
  background-image: url('./photos/lightleather.jpg');
  width: 15.2vw;
  height: 15.2vw;
}

.about-deacon-image-borderB {
  border-radius: 50%;
  background-image: url('./photos/lightleather.jpg');
  width: 15.2vw;
  height: 15.2vw;
}
*/
@media screen and (max-width: 1150px){
  .about-deacon-nameA, .about-deacon-nameB { font-size: 24px; }
}

@media screen and (max-width: 800px){
  .about-deacon-image { height: 24vw; width: 24vw; }
  .about-deacon-image-borderA,
  .about-deacon-image-borderB { margin: auto; height: 26vw; width: 26vw; }
  .about-deacon-image-borderA { margin-right: 0px; }
  .about-deacon-nameA { font-size: 20px; margin-left: 35%; }
  .about-deacon-nameB { font-size: 20px; margin-left: 10%; }
  .about-deacon-rowB { padding-left:15%; padding-right: 5%;}
}

@media screen and (max-width: 500px){
  .about-deacon-nameA { margin-left: 30%; font-size: 14px;}
  .about-deacon-nameB { margin-left: 10%; font-size: 14px;}
  .about-deacon-rowB { padding-left:15%; padding-right: 5%;}
}

@media screen and (max-width: 360px){
  .about-deacon-nameA { margin-left: 15%; font-size: 14px;}
  .about-deacon-nameB { margin-left: 10%; font-size: 14px;}
  .about-deacon-rowB { padding-left:12.5%; padding-right: 7.5%;}
}

/* About Deacon Section END */

.about-page-container {
  background-color: #f4f2ed;
  width: auto;
}

.about-restofus-header {
  font-family: "Alice", serif;
  font-weight: 600;
  margin-top: 75px;
  margin-bottom: 100px;
}

.about-restofus-image {
  width: 45vw;
  height: auto;
  padding-top: 3%;
  padding-bottom: 4%;
  width: 90%;
}

.about-restofus-frame {
  margin-top: 50px;
  margin-left: 20%;
  width: 60vw;
  height: auto;
}

.about-space {
  padding-bottom: 100px;
}

/* About Page END */

/* Fellowship Page BEGIN */
.f-container {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  opacity: 0.8;
}

.f-intro-container {
  background-image: url('./photos/biblecandleedited.JPG');
}

.f-fg-container {
  background-image: url('./photos/diversebiblestudy.jpg');
}

.f-pm-container {
  background-image: url('./photos/prayergroup.jpg');
}

.f-tc-container{
  background-image: url('./photos/seminarybook.jpg');
}

.f-sg-container{
  background-image: url('./photos/saturdaygroup.jpg');
}

.f-pg-container{
  background-image: url('./photos/family.jpeg');
}

.f-fg-header,
.f-tc-header,
.f-pm-header,
.f-sg-header,
.f-pg-header {
  padding-top: 10vw;
}

.f-pm-header {
  color: black;
}

.f-fg-text,
.f-intro-text {
  font-size: 22px;
  font-weight: 600;
  padding-top: 300px;
  margin-left: 20vw;
  margin-right: 20vw;
  animation: fadeIn 2s;
}

.f-row {
  width: 100vw;
}

.f-description {
  background-color: white;
  color: black;
  border-radius: 10%;
  width: 500px;
  margin-top: 30px;
  margin-left: 20vw;
  margin-right: auto;
  padding: 2.5vw;
  opacity: 0.7;
}

.f-info {
  background-color: lightgrey;
  color: black;
  border-radius: 10%;
  margin-top: 6vw;
  padding-top: 35px;
  padding-left: 10px;
  padding-bottom: 35px;
  margin-right: 10vw;
  width: 250px;
  height: auto;
  text-align: left;
}

.f-test {
  width: auto;
}

@media screen and (max-width: 1175px) {
  .f-description { margin-left: 10vw; }
}

@media screen and (max-width: 1025px) {
  .f-description { margin-left: 20vw; margin-right: 20vw; width: auto;}
  .f-info { margin-left: 30vw; margin-right: 30vw; width: auto; margin-top: 10px;}
}

@media screen and (max-width: 800px) {
  .f-description { margin-left: 15vw; margin-right: 15vw; }
  .f-info { margin-left: 25vw; margin-right: 25vw }
}

@media screen and (max-width: 600px) {
  .f-description { margin-left: 10vw; margin-right: 10vw; }
  .f-info { margin-left: 20vw; margin-right: 20vw }
}

@media screen and (max-width: 460px) {
  .f-description { font-size: 14px; }
  .f-info { font-size: 14px; }
  .f-intro-text { padding-top: 260px; }
  .f-fg-header { padding-top: 10vw;}
}

@media screen and (max-width: 360px) {
  .f-description { font-size: 14px; margin-left: 5vw; margin-right: 5vw; margin-top: 10px; }
  .f-info { font-size: 14px; margin-left: 8vw; margin-right: 8vw;   margin-top: 0vw;}
  .f-intro-text { margin-left: 10vw; margin-right: 10vw; }
}

/* Fellowship Page END */

.col {
  padding: 10px 0 0 0;
}

.container {
  margin-top: 130px;
}

.direction-emc {
  font-size: 1.3em;
  font-weight: 900;
}

.emc-brand {
  position: absolute;
  top: 0px;
  width: 400px;
}

.emc-subbrandA {
  width: 70px;
}

.emc-subbrandB {
  margin-top: 5px;
  width: 100px;
}

.emc-brand-blue {
  font-family: 'Gotham-Back-Regular';
  color: #38322e;
  /*color: #5058b2;*/
  font-size: 1.5em;
}

.emc-brand-red {
  font-family: 'Gotham-Back-Regular';
  color:#191817;
  font-weight: 600;
  /*color: #ad574e;*/
  font-size: 1.5em;
}

.emc-title-blue {
  font-family: 'Bebas-Neue', sans-serif;
  color: #38322e;
  /*color: #5058b2;*/
  font-size: 0.8em;
}

.emc-title-red {
  font-size: 0.8em;
  color: #ad574e;
  font-family: 'Bebas-Neue', sans-serif;
}

.gospel-img {
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

/* Gallery Page BEGIN */

.g-header {
  padding-top: 50px;
  font-size: 48px;
  font-weight: 600;
  color: white;
}

.g-page {
  background-color: black;
  /*
  background-color: #f4f2ed;
  */
  margin-right: 0px;
  width: 98.9vw;
  height: 1250px;
}

.g-posA {
  position: absolute;
}

.g-colB{
  left: 32.9vw;
}

.g-colC{
  left: 65.9vw;
}

.g-rowA {
  top: 15vw;
}

.g-rowB {
  top: 48vw;
}

.g-rowC {
  top: 81vw;
}
.g-pic {
  padding: 0px;
  width: 33vw;
  height: 33vw;
}

.g-fadein {
  opacity:0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration:1s;
}

.g-fadein.one {
  animation-delay: 0s;
}

.g-fadein.two {
  animation-delay: 0.5s;
}

.g-fadein.three {
  animation-delay: 1s;
}

.g-fadein.four {
  animation-delay: 1.5s;
}

.g-fadein.five {
  animation-delay: 2s;
}

.g-fadein.six {
  animation-delay: 2.5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Gallery Page END */

.header-navbar{
  /*
  background-color: #f7f1ed;
  */
  background-color: white;
  height: 66px;
  border-bottom: 2px solid black;
}

/* Home Page BEGIN */
.h-container {
  background-image: url('./photos/ebenezerrockedited.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  padding-top: 250px;
  padding-bottom: 265px;
  height: 92vh;
  opacity: 1;
  border: solid black;
}

.h-dir-emc {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.h-header {
  font-family: 'Roboto', sans-serif;
}

.h-intro-text {
  font-family: 'Roboto', sans-serif;
  margin-left: 10vw;
  margin-right: 50vw;
  font-size: 28px;
  color: white;
  animation: fadeIn 2s;
}

.h-map{
  width: 350px;
  height: 100px;
}

.h-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em
}

.h-tri-container {
  padding-bottom: 200px;
}

.h-tri-content {
  font-size: 1.5em;
}

.h-tri-header {
  color: #ad574e;;
  font-size: 2.8em;
  font-weight: 900;
}

.home-container {
  background-color: #f4f2ed;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1000px){
  .h-map{ width: 1000px; padding-top: 75px; padding-bottom: 200px;}
}

@media screen and (max-width: 950px){
  .h-intro-text { font-size: 24px;}
  .h-tri-container { margin-top: 50px;}
}

@media screen and (max-width: 750px){
  .h-intro-text { font-size: 20px;}
}

@media screen and (max-width: 500px){
  .h-intro-text { margin-right: 38vw; font-size: 18px;}
}

/* Home Page END */

.img-in-pa {
  width: 370px;
  height: auto;
}
/* Login Section BEGIN */

.l-page-background {
  background-color: #f4f2ed;
  width: auto;
  height: 700px;
  margin-bottom: 0px;
}

.l-container {
  margin: auto;
}

.l-cross {
  height: 250px;
  padding-top: 30px;
  padding-bottom: 60px;
}

.l-fish{
  height: 200px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.l-inputA {
  margin: auto;
  padding: 30px;
  padding-bottom: 0px;
  width: 291.5px;

}

.l-inputB {
  margin: auto;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 15px;
  width: 291.5px;
}

.l-button {
  padding-bottom: 25px;
}

.l-text {
  font-family: 'Alice', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: auto;
  width: 40vw;
  min-width: 300px;
}

.l-col-vr {
  width: 5px;
}

.l-col-login {
  margin-left: 53px;
  width: 330px;
}

.l-col-signup {
  width: 380px;
}

.l-row {
  margin: auto;
  padding-bottom: 20px;
  width: 770px;
}
.l-vr {
  border-left:3px solid lightgrey;
  height:200px;
}

.l-closing-statement {
  padding: 40px;
}

@media screen and (max-width: 800px){
  .l-row { width: auto;}
}

@media screen and (max-width: 755px){
  .l-col-vr { opacity: 0; width: 0px; }
  .l-col-login { margin-left: auto; width: 800px; height: 0px;}
  .l-col-signup { margin-left: auto; width: 800px; }
  .l-page-background {padding-bottom: 1000px;}
}


/* Login Section END */

.name-me-section-home {
  font-family: 'PT Serif Caption', serif;
  color: black;
}

.name-me-section-home:hover {
  color: #ad574e;
}

.name-me-img-home {
  width: 350px;
  height: 212px;
}

.name-me-text {
  font-family: 'PT Serif Caption', serif;
  padding-top: 20px;
}

.nav-link {
  font-weight: 700;
  position: relative;
}

.nav-link:after,
.nav-link:before {
  transition: all .5s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #ad574e;
  height: 1px;
}

.nav-link:hover:after {
  width: 100%;
}

.nav-link:hover {
  color: #ad574e !important;
}

.section-icon {
  text-align: right;
  font-size: 2em;
}

.sunday-time {
  font-size: 2.2em;
}

/*Footer Begin*/
.copyright {
  color: gray;
  margin-top: 20px;
  margin-bottom: 0px;
}

.member-login-link a {
  font-size: 15px;
  color: gray;
}

.footer-container {
  padding-top: 30px;
  height: 200px;
  background-color: #555;
}

.social-wrap button {
  margin: 20px;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  font-size: 1.25em;
  -webkit-transition: color .25s ease-out, background .25s ease-out, border-radius .25s ease-out;
  transition: color .25s ease-out, background .25s ease-out, border-radius .25s ease-out;
  box-shadow: 0px 27px 73px -10px rgba(0, 0, 0, 0.75);
}
.social-wrap button:hover {
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 27px 45px -10px rgba(0, 0, 0, 0.75);
}
.social-wrap .facebook {
  color: #3b5998;
  background-color: #fff;
}
.social-wrap .facebook:hover {
  color: #fff;
  background-color: #3b5998;
}
.social-wrap .facebook:active {
  background-color: #fff;
  color: #3b5998;
}
.social-wrap .twitter {
  color: #00aced;
  background-color: #fff;
}
.social-wrap .twitter:hover {
  color: #fff;
  background-color: #00aced;
}
.social-wrap .twitter:active {
  background-color: #fff;
  color: #00aced;
}
.social-wrap .youtube {
  color: #ae0000;
  background-color: #fff;
}
.social-wrap .youtube:hover {
  color: #fff;
  background-color: #ae0000;
}
.social-wrap .youtube:active {
  background-color: #fff;
  color: #ae0000;
}
/*Footer End*/

/*Login Begin*/
.login-container {
  margin: 0 15vw 70px 15vw;
  border: 1px solid #d8d8d8;
  padding: 1em 1em 1em;
  text-align: left;
  min-width: 256px;
}

.login-container::before {
  text-align: center;
    position: relative;
    left: 0;
    top: 0;
    color: #aaa;
    font-size: 20px;
    font-weight: 500;
    content: 'Member Login';
}
/*Login End*/

/*Home Page @media BEGIN*/

@media screen and (max-width: 900px) {
  .home-tri-section-header { font-size: 30px; }
  .sunday-time { font-size: 30px; }
  .home-tri-section-content { font-size: 20px; }
}

@media screen and (max-width: 500px) {
  .home-tri-section-header { font-size: 20px; }
  .home-tri-section-content { font-size: 15px; }
  .direction-emc { font-size: 17px; }
}

@media screen and (max-width: 416px) {
  .emc-title-blue {
    width: 1px;
    visibility: hidden;
  }

  .emc-title-red {
    visibility: hidden;
    width: 1px;
  }

  .navbar-brand {
    width: 80px;
  }
}

/*Home Page @media END*/
