@import url('https://fonts.googleapis.com/css?family=Alice|PT+Serif+Caption|Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Asap+Condensed|Cabin|Varela+Round');
@font-face {
  font-family: 'Gotham-Back-Regular';
  src: local('Gotham-Back-Regular'), url(./fonts/GothamBlackRegular.ttf) format('truetype');
}
@font-face {
  font-family: 'Bebas-Neue';
  src: local('Bebas-Neue'), url(./fonts/BebasNeue.otf) format('opentype');
}

td {
  padding-right: 5px;
}

.App {
  text-align: center;
  background-color: #f4f2ed;
}

.App-container {
  margin-top: 57px;
}

a {
  text-decoration: none !important;
}

nav {
  background-color: white;
}

/* About Page Begin */

/* About Mission Section BEGIN */
.aa {
  background-attachment: fixed;
  background-image: url('./photos/blurrychurchedited.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  height: 92vh;
  min-height: 400px;
}

.ab {
  font-weight: 600;
  padding-top: 5vh;
  color: black;
}

.ac {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding-top: 1vw;
  color: black;
}

.ad {
  background-color: white;
  border-radius: 10%;
  opacity: 0.55;
  margin-left: 15vw;
  margin-right: 15vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vh;
}

.ae {
  padding-top: 25vh;
}

.af {
  width: 100vw;
  height: 850px;
}

.ag {
  height: 45vw;
  min-height: 350px;
}

@media screen and (max-width: 900px) {
  .ab{ font-size: 32px; }
  .ac{ font-size: 20px; }
}

@media screen and (max-width: 600px) {
  .ab{ font-size: 32px; }
  .ac{ font-size: 16px; }
  .ad{ margin-left: 10vw; margin-right: 10vw; }
}
@media screen and (max-width: 360px) {
  .ab{ font-size: 28px; }
  .ac{ font-size: 14px; }
}
/* About Mission Section END */

/* About Leader Section BEGIN */
.about-leader-container {
  margin-right: 0px !important;
  margin-top: 50px;
}

.about-leader-row {
  margin-right: 0px !important;
  padding-bottom: 5vw;
  padding-left: 10%;
  padding-right: 10%;
}

.about-leader-header {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-top: 75px;
  color: black;
}

.about-leader-image {
  margin-top: 4%;
  border-radius: 50%;
  width: 18.5vw;
  height: 18.5vw;
}
/*
.about-leader-image-border {
  margin: auto;
  border-radius: 50%;
  background-image: url('./photos/mediumleather.jpg');
  height: 20vw;
  width: 20vw;
}
*/
.about-leader-name{
  margin-top: 30px;
  font-family: 'Alice', serif;
  font-size: 32px;
}

.about-leader-text{
  width: 40vw;
  text-align: center;
  font-family: 'Alice', serif;
}

.about-leader-text.sooil{
  font-size: 13px;
}

.about-leader-text.jae{
  font-size: 18px;
}

@media screen and (max-width: 1150px){
  .about-leader-name { font-size: 24px; margin-top: 20px;}
  .about-leader-text { font-size: 14px; }
}

@media screen and (max-width: 1000px){
  .about-leader-image-border {  height: 220px; width: 220px; }
  .about-leader-image { height: 200px; width: 200px; }
}

@media screen and (max-width: 800px){
  .about-leader-image-border { margin-left: 21.5vw; height: 35vw; width: 35vw; }
  .about-leader-image { height: 32vw; width: 32vw; }
  .about-leader-name {margin-left: 3vw}
  .about-leader-text { margin-left: 2vw; min-width: 400px; width: auto; }
}

@media screen and (max-width: 500px){
  .about-leader-text { min-width: 200px; width: auto; }
}
/* About Leaders Section END */

/* About Deacons Section BEGIN */

.about-deacon-container {
  margin-right: 0px !important;
  margin-top: 0px;
  padding-top: 50px;
  background-color: lightgrey;
}

.about-deacon-header {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-top: 75px;
  margin-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 0px;
  background-color: lightgrey;
  color: black;
}

.about-deacon-image {
  margin-top: 4%;
  border-radius: 50%;
  width: 14vw;
  height: 14vw;
}

.about-deacon-nameA,
.about-deacon-nameB {
  font-weight: 600;
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 0vw;
}

.about-deacon-rowA {
  margin-right: 0px !important;
  padding-bottom: 0;
  padding-left: 10%;
  padding-right: 10%;
}

.about-deacon-rowB {
  margin-right: 0px !important;
  padding-bottom: 5vw;
  padding-left: 20%;
  padding-right: 20%;
}

.about-deacon-image-borderA {
  border-radius: 50%;
  background-color: white;
  width: 15.2vw;
  height: 15.2vw;
}

.about-deacon-image-borderB {
  border-radius: 50%;
  background-color: white;
  width: 15.2vw;
  height: 15.2vw;
}
*/
@media screen and (max-width: 1150px){
  .about-deacon-nameA, .about-deacon-nameB { font-size: 24px; }
}

@media screen and (max-width: 800px){
  .about-deacon-image { height: 24vw; width: 24vw; }
  .about-deacon-image-borderA,
  .about-deacon-image-borderB { margin: auto; height: 26vw; width: 26vw; }
  .about-deacon-image-borderA { margin-right: 0px; }
  .about-deacon-nameA { font-size: 20px; margin-left: 35%; }
  .about-deacon-nameB { font-size: 20px; margin-left: 10%; }
  .about-deacon-rowB { padding-left:15%; padding-right: 5%;}
}

@media screen and (max-width: 500px){
  .about-deacon-nameA { margin-left: 30%; font-size: 14px;}
  .about-deacon-nameB { margin-left: 10%; font-size: 14px;}
  .about-deacon-rowB { padding-left:15%; padding-right: 5%;}
}

@media screen and (max-width: 360px){
  .about-deacon-nameA { margin-left: 15%; font-size: 14px;}
  .about-deacon-nameB { margin-left: 10%; font-size: 14px;}
  .about-deacon-rowB { padding-left:12.5%; padding-right: 7.5%;}
}

/* About Deacon Section END */

.about-page-container {
  background-color: #f4f2ed;
  width: auto;
}

.about-restofus-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin-top: 100px;
  margin-bottom: 50px;
}

.about-restofus-image {
  width: 45vw;
  height: auto;
  padding-top: 3%;
  padding-bottom: 4%;
  width: 90%;
}

.about-restofus-frame {
  margin-top: 50px;
  margin-left: 20%;
  width: 60vw;
  height: auto;
}

.about-space {
  padding-bottom: 100px;
}

/* About Page END */

/* Header BEGIN */

.eb {
  position: absolute;
  top: 0px;
  width: 200px;
}

.ec {
  width: 70px;
}

.ed {
  margin-top: 5px;
  width: 50px;
}

.ee {
  font-family: 'Gotham-Back-Regular';
  color: #38322e;
  /*color: #5058b2;*/
  font-size: 1.5em;
}

.ef {
  font-family: 'Bebas-Neue', sans-serif;
  color: #38322e;
  /*color: #5058b2;*/
  font-size: 0.8em;
}

.eg {
  font-size: 0.8em;
  color: #ad574e;
  font-family: 'Bebas-Neue', sans-serif;
}

.ea{
  background-color: white;
  height: 66px;
}

.nav-link {
  background-color: white;
  font-weight: 700;
  position: relative;
}

.nav-link:after,
.nav-link:before {
  transition: all .5s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #ad574e;
  height: 1px;
}

.nav-link:hover:after {
  width: 100%;
}

.nav-link:hover {
  color: #ad574e !important;
}

@media screen and (max-width: 416px) {
  .eb { width: 10px;}

  .ef {
    width: 1px;
    visibility: hidden;
  }

  .eg {
    visibility: hidden;
    width: 1px;
  }
}

/* Header END */

/* Fellowship Page BEGIN */

.f-button {
  width: calc(25px + 5vw);
}

.f-header {
  background-color: white;
  margin-top: 10vw;
  padding: 25px;
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  opacity: 0.75;
}

.f-intro-text{
  color: white;
  height: 45vw;
  min-height: 350px;
  font-family: 'Alice', sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding-top: calc(22vw - 40px);
  margin-left: 20vw;
  margin-right: 20vw;
  animation: fadeIn 2s;
}

.f-bgimage{
  width: 100vw;
  height: 850px;
}

.f-container {
  height: 40vw;
}

.f-container.fg {
  min-height: 956px;
}
.f-container.pm {
  min-height: 865px;
}
.f-container.tc {
  min-height: 745px;
}
.f-container.sg {
  min-height: 864px;
}
.f-container.pg {
  min-height: 768px;
}

/*
.f-intro-text {
  font-size: 22px;
  font-weight: 600;
  padding-top: calc(22vw - 40px);
  margin-left: 20vw;
  margin-right: 20vw;
  animation: fadeIn 2s;
}
*/

.f-row {
  margin-top: 10vh;
  width: 95vw;
}

.f-description {
  background-color: white;
  border-radius: 10%;
  color: black;
  font-family: 'Cabin', sans-serif;
  width: 494px;
  margin: auto;
  margin-top: 100px;
  padding: 35px;
  text-align: justify;
}

.f-info {
  background-color: lightgrey;
  border-radius: 10%;
  color: black;
  font-family: 'Asap Condensed', sans-serif;
  padding-top: 35px;
  padding-left: 10px;
  padding-bottom: 35px;
  margin-right: 10vw;
  width: 255px;
  height: auto;
  text-align: justify;
}

.f-info.fg{
  margin-top: 165px;
}

.f-info.pm{
  margin-top: 177px;
}

.f-info.tc{
  margin-top: 140px;
}

.f-info.sg{
  margin-top: 178px;
}

.f-info.pg{
  margin-top: 155px;
}

.f-colA {
  margin-left: calc(50vw - 411px);
  width: 500px;
}

.f-colB {
  margin-left: 50px;
  width: 100px;
}

@media screen and (max-width: 1000px) {
  .f-row{ margin-top: 0vh; }
  .f-colA { margin-left: calc(50vw - 255px);}
  .f-colB { margin-left: calc(50vw - 136px); width: 500px; }
  .f-info.fg,
  .f-info.pm,
  .f-info.tc,
  .f-info.sg,
  .f-info.pg { margin-top: 6vw;}
  .f-bgimage{
    width: auto;
    height: 850px;
  }
}

@media screen and (max-width: 550px) {
  .f-colA { margin: 0; width: auto;}
  .f-description { padding: 25px; width: auto; margin-left: 8.5vw; margin-right: 0vw;}
  .f-intro-text { padding-top: 18vw; }
}

@media screen and (max-width: 460px) {
  .f-fg-header { padding-top: 10vw;}
}

@media screen and (max-width: 360px) {
  .f-description{ margin-top: 30px; }
  .f-intro-text { margin-left: 10vw; margin-right: 10vw; }
  .f-container.fg { min-height: 988px; }
  .f-container.pm { min-height: 940px; }
  .f-container.tc { min-height: 751px; }
  .f-container.sg { min-height: 962px; }
  .f-container.pg { min-height: 820px; }
}

/* Fellowship Page END */

/* Gallery Page BEGIN */

.g-header {
  padding-top: 3vw;
  font-size: 5vw;
  font-weight: 600;
  color: white;
}

.g-page {
  background-color: black;
  /*
  background-color: #f4f2ed;
  */
  margin-right: 0px;
  width: 98.9vw;
  height: 80vw;
}

.g-posA {
  position: absolute;
  top: 45px;
}

.g-one,
.g-two,
.g-three {
  margin-top: 15vw;
}

.g-two {
  left: 32.9vw;
}

.g-three {
  left: 65.9vw;
}

.g-four {
  margin-top: 48vw;
}

.g-five {
  margin-top: 48vw;
  left: 32.9vw
}

.g-six {
  margin-top: 48vw;
  left: 65.9vw;
}

.g-pic {
  padding: 0px;
  width: 33vw;
  height: 33vw;
}

.g-fadein {
  opacity:0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration:1s;
}

.g-fadein.one {
  animation-delay: 0s;
}

.g-fadein.two {
  animation-delay: 0.5s;
}

.g-fadein.three {
  animation-delay: 1s;
}

.g-fadein.four {
  animation-delay: 1.5s;
}

.g-fadein.five {
  animation-delay: 2s;
}

.g-fadein.six {
  animation-delay: 2.5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media screen and (max-width: 850px) {
  .g-page { height: 160vw;}
  .g-pic { width: 49vw; height: 49vw; }
  .g-two { left: 49vw; }
  .g-three { margin-top: 64vw; left: 0vw; }
  .g-four { margin-top: 64vw; left: 49vw; }
  .g-five { margin-top: 113vw; left: 0vw; }
  .g-six { margin-top: 113vw; left: 49vw; }
}

@media screen and (max-width: 450px) {
  .g-page { height: 600vw;}
  .g-header { padding-top: 5vw; font-size: 12vw;}
  .g-posA { top: 100px; }
  .g-pic { width: 98.9vw; height: 98.9vw; }
  .g-two { margin-top: 99vw; left: 0vw; }
  .g-three { margin-top: 198vw; }
  .g-four { margin-top: 297vw; left: 0vw; }
  .g-five { margin-top: 396vw; }
  .g-six { margin-top: 495vw; left: 0vw; }
}

/* Gallery Page END */

/* Home Page BEGIN */
.h-bgimage{
  width: 100vw;
  height: 850px;
}

.h-cont{
  height: 40vw;
  min-height: 350px;
}

.h-intro-txt {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  margin-top: 17.5vw;
  margin-left: calc(20vw - 80px);
  margin-right: calc(55vw - 100px);
  color: white;
  animation: fadeIn 2s;
}

.col { padding: 10px 0 0 0; }

.h-dir-emc {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.h-header {
  font-family: 'Roboto', sans-serif;
}

.h-map{
  width: 350px;
  height: 100px;
}

.h-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
}

.h-tri-colA {
   margin: auto;
}

.h-tri-colB {
   margin: auto;
}

.h-tri-container {
  padding-bottom: 35px;
  margin-top: 100px;
  background-color: white;
  box-shadow: 1px 1px 10px 1px grey;
}

.h-tri-content {
  font-size: 1.5em;
}

.h-tri-header {
  color: #ad574e;
  font-size: 2.8em;
  font-weight: 900;
}

.h-subintro-container {
  background-color: #ad574e;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  border-left: 50px solid black;
  border-right: 50px solid black;
  color: white;
  margin-top: 100px;
  padding: 100px;
}

.h-section-icon {
  text-align: right;
  font-size: 2em;
}

.h-space {
  padding-top: 100px;
}

.h-vr {
  border-left: 6px solid grey;
  margin-top: 25.5px;
  height: 250px;
}
.home-container {
  background-color: lightgrey;
  /*background-color: #f4f2ed;*/
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1000px) {
  .h-bgimage {width: auto;}
  .h-intro-txt { font-size: 24px; }
  .h-tri-container { margin-top: 50px;}
}

@media screen and (max-width: 992px){
  .h-map{ width: 1000px; height: 315px; padding-top: 25px; padding-bottom: 200px;}
}

@media screen and (max-width: 800px) {
  .h-subintro-container { padding: calc(20vw - 60px); padding-top: calc(10vw + 10px)}
}

@media screen and (max-width: 600px) {
  .h-subintro-container { border-right: calc(10vw - 20px) solid black; border-left: calc(10vw - 20px) solid black;}
  .h-tri-colA { margin-left: calc(50vw- 100px); width: 400px; }
  .h-tri-colB { margin-left: calc(50vw- 100px); width: 400px; }
  .h-vr {margin-left: 10px; width: calc(500px); height: 1px; border-left: 0px solid grey; border-top: 6px solid grey;}
}

@media screen and (max-width: 575px) {
  .h-vr-col { width: 80vw;}
  .h-vr {margin-left: 3.5vw; margin-right: 3.5vw; width: calc(90vw - 35px); height: 1px; border-left: 0px solid grey; border-top: 6px solid grey;}
}

@media screen and (max-width: 450px) {
  .h-intro-txt{ margin-top: 30vw; margin-left: 10px; margin-right: 10px; }
}

/* Home Page END */

.img-in-pa {
  width: 370px;
  height: auto;
}
/* Login Section BEGIN */

.la {
  background-color: #f4f2ed;
  width: auto;
  height: 700px;
  margin-bottom: 0px;
}

.lb {
  padding-top: 15vh;
}

.lc{
  margin: auto;
  border-radius: 5%;
  background-color: white;
  width: 250px;
}

.ld {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  background-color: #ad574e;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: auto;
  width: 250px;
  color: white;
}

.lp{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.lq{
  color: green;
}

.le {
  margin: auto;
  padding: 30px;
  padding-right: 45px;
  padding-bottom: 0px;
  width: 250px;
}

.lf {
  position: absolute;
  top: calc(212px + 15vh);
  left: calc(62px + 50vw);
  z-index: 101;
}

.lg {
  margin: auto;
  padding: 30px;
  padding-top: 0px;
  padding-right: 45px;
  padding-bottom: 15px;
  width: 250px;
}

.lh {
  position: absolute;
  top: calc(267px + 15vh);
  left: calc(62px + 50vw);
  z-index: 101;
}

.li {
  width: 75px;
}

.lj {
  font-family: 'Alice', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lk {
  padding: 40px;
}

.ll {
  position: relative;
  height: 39px;
  width: 190px;
  border-color: transparent !important;
  padding-right: 100px;
  z-index: 100;
}

.lo {
  position: relative;
  height: 39px;
  width: 190px;
  border-color: transparent !important;
  padding-right: 100px;
  z-index: 100;
}

.lm {
  position: absolute;
  top: calc(207.5px + 15vh);
  left: calc(50vw - 103px);
  border: 1px solid lightgrey;
  border-radius: 5%;
  width: 190px;
  height: 41px;
}

.ln {
  position: absolute;
  top: calc(262px + 15vh);
  left: calc(50vw - 103px);
  border: 1px solid lightgrey;
  border-radius: 5%;
  width: 190px;
  height: 41px;
  z-index: 99;
}
/* Login Section END */

/*Footer Begin*/
.copyright {
  color: gray;
  margin-top: 20px;
  margin-bottom: 0px;
}

.member-login-link a {
  font-size: 15px;
  color: gray;
}

footer {
  padding-top: 30px;
  height: 200px;
  background-color: #555;
}

.social-wrap button {
  margin: 20px;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  font-size: 1.25em;
  -webkit-transition: color .25s ease-out, background .25s ease-out, border-radius .25s ease-out;
  transition: color .25s ease-out, background .25s ease-out, border-radius .25s ease-out;
  box-shadow: 0px 27px 73px -10px rgba(0, 0, 0, 0.75);
}
.social-wrap button:hover {
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 27px 45px -10px rgba(0, 0, 0, 0.75);
}
.social-wrap .facebook {
  color: #3b5998;
  background-color: #fff;
}
.social-wrap .facebook:hover {
  color: #fff;
  background-color: #3b5998;
}
.social-wrap .facebook:active {
  background-color: #fff;
  color: #3b5998;
}
.social-wrap .twitter {
  color: #00aced;
  background-color: #fff;
}
.social-wrap .twitter:hover {
  color: #fff;
  background-color: #00aced;
}
.social-wrap .twitter:active {
  background-color: #fff;
  color: #00aced;
}
.social-wrap .youtube {
  color: #ae0000;
  background-color: #fff;
}
.social-wrap .youtube:hover {
  color: #fff;
  background-color: #ae0000;
}
.social-wrap .youtube:active {
  background-color: #fff;
  color: #ae0000;
}
/*Footer End*/

/*Login Begin*/
.login-container {
  margin: 0 15vw 70px 15vw;
  border: 1px solid #d8d8d8;
  padding: 1em 1em 1em;
  text-align: left;
  min-width: 256px;
}

.login-container::before {
  text-align: center;
    position: relative;
    left: 0;
    top: 0;
    color: #aaa;
    font-size: 20px;
    font-weight: 500;
    content: 'Member Login';
}
/*Login End*/

/*Login/Signup Begin*/
input {
  border-radius: 0 0.25rem 0.25rem 0 !important;
}

.login-signup-container {
  width: 350px;
  min-width: 300px;
  height: 70vh;
  margin: auto;
  margin-bottom: 300px;
  padding: 75px 20px 50px 20px;
}

.login-signup-form {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 15px;
}

.login-signup-form-header {
  background-color: #ad574e;
  color: white;
  border-radius: 15px 15px 0 0;
  margin: -15px -15px 15px -15px;
  padding: 15px 15px 2px 15px;
}

.l-in {
  padding-top: 10px;
}


.l-spA {
  margin-top: 10px;
}

.l-spB{
  margin-top: 20px;
}

.l-er {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 200px;
  height: 0px;
}

.l-su {
  color: green;
}

.l-sp {
  padding-top: 10px;
}
/*Login/Signup End*/

/*Directory Begin*/
.directory-container {
  text-align: left;
  background-color: white;
  padding: 30px;
}

.directory-container table {
  border: 1px solid #e9ecef !important;
}

.directory-container tr:hover,
.table-striped tbody tr:nth-of-type(odd):hover {
  background-color: #ffe0e0;
}

.tmbr { color: red }
.tmbg { color: green }

@media screen and (max-width: 730px) {
  .directory-container {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 510px) {
  .directory-container {
    font-size: 4px;
  }
}

/*Directory End*/
