@import url('https://fonts.googleapis.com/css?family=Alice|PT+Serif+Caption|Archivo+Black');

h1, p {
  font-family: 'Alice', serif;
}

td {
  padding-right: 5px;
}

.App {
  text-align: center;
}

.App-container {
  margin-top: 57px;
}

a {
  text-decoration: none !important;
}

nav {
  background-color: white;
}

/* About Page Begin */

/* About Mission Section BEGIN */
.about-mission-container{
  background-attachment: fixed;
  background-image: url('./photos/blurrychurchedited.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Alice', serif;
  height: 500px;
}

.about-mission-header{
  padding-top: 10vw;
  font-weight: 900;
}

.about-mission-text{
  font-size: 18px;
  font-weight: 600;
  padding-top: 3vw;
  margin-left: 20vw;
  margin-right: 20vw;
}

@media screen and (max-width: 450px) {
  .about-mission-header{ padding-top: 15vw; font-size: 32px; }
  .about-mission-text{ font-size: 16px; }
}

@media screen and (max-width: 360px) {
  .about-mission-header{ padding-top: 28vw; font-size: 28px; }
  .about-mission-text{ font-size: 14px; }
}
/* About Mission Section END */

/* About Leader Section BEGIN */
.about-leader-container {
  margin-right: 0px !important;
  margin-top: 50px;
}

.about-leader-row {
  margin-right: 0px !important;
  padding-bottom: 5vw;
  padding-left: 10%;
  padding-right: 10%;
}

.about-leader-image-border {
  border-radius: 50%;
  background-image: url('./photos/mediumleather.jpg');
  background-color: #b27c2a;
  width: 20vw;
  height: 20vw;
  margin-left: 25%;
}

.about-leader-header {
  font-family: "Alice", serif;
  font-weight: 600;
  margin-top: 75px;
}

.about-leader-image {
  margin-top: 4%;
  border-radius: 50%;
  width: 18.5vw;
  height: 18.5vw;
}

.about-leader-name{
  margin-top: 30px;
  font-family: 'Alice', serif;
  font-size: 32px;
}

.about-leader-text{
  width: 40vw;
  text-align: center;
  font-family: 'Alice', serif;
}

@media screen and (max-width: 1150px){
  .about-leader-name { font-size: 24px; margin-top: 20px;}
  .about-leader-text { font-size: 14px; }
}

@media screen and (max-width: 1000px){
  .about-leader-image-border {  height: 220px; width: 220px; }
  .about-leader-image { height: 200px; width: 200px; }
}

@media screen and (max-width: 800px){
  .about-leader-image-border { margin-left: 21.5vw; height: 35vw; width: 35vw; }
  .about-leader-image { height: 32vw; width: 32vw; }
  .about-leader-name {margin-left: 3vw}
  .about-leader-text { margin-left: 2vw; min-width: 400px; width: auto; }
}

@media screen and (max-width: 500px){
  .about-leader-text { min-width: 200px; width: auto; }
}
/* About Leaders Section END */

/* About Deacons Section BEGIN */

.about-deacon-container {
  margin-right: 0px !important;
  margin-top: 50px;
}

.about-deacon-image {
  margin-top: 4%;
  border-radius: 50%;
  width: 14vw;
  height: 14vw;
}

.about-deacon-image-borderA {
  border-radius: 50%;
  background-image: url('./photos/lightleather.jpg');
  background-color: #b27c2a;
  width: 15.2vw;
  height: 15.2vw;
  margin-left: 1vw;
}

.about-deacon-image-borderB {
  border-radius: 50%;
  background-image: url('./photos/lightleather.jpg');
  background-color: #b27c2a;
  width: 15.2vw;
  height: 15.2vw;
  margin-left: 1vw;
}

.about-deacon-nameA {
  font-family: 'Alice', serif;
  font-weight: 600;
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 1vw;
}

.about-deacon-nameB {
  font-family: 'Alice', serif;
  font-weight: 600;
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 1vw;
}

.about-deacon-rowA {
  margin-right: 0px !important;
  padding-bottom: 0;
  padding-left: 10%;
  padding-right: 10%;
}

.about-deacon-rowB {
  margin-right: 0px !important;
  padding-bottom: 5vw;
  padding-left: 20%;
  padding-right: 20%;
}

@media screen and (max-width: 1150px){
  .about-deacon-nameA { font-size: 24px; }
  .about-deacon-nameB { font-size: 24px;}
}

@media screen and (max-width: 800px){
  .about-deacon-image-borderA { margin: auto; height: 26vw; width: 26vw; margin-right: 0px; }
  .about-deacon-image-borderB { margin: auto; height: 26vw; width: 26vw; }
  .about-deacon-image { height: 24vw; width: 24vw; }
  .about-deacon-nameA { font-size: 20px; margin-left: 35%; }
  .about-deacon-nameB { font-size: 20px; margin-left: 10%; }
  .about-deacon-rowB { padding-left:15%; padding-right: 5%;}
}

@media screen and (max-width: 500px){
  .about-deacon-nameA { margin-left: 30%; font-size: 14px;}
  .about-deacon-nameB { margin-left: 10%; font-size: 14px;}
  .about-deacon-rowB { padding-left:15%; padding-right: 5%;}
}

@media screen and (max-width: 360px){
  .about-deacon-nameA { margin-left: 15%; font-size: 14px;}
  .about-deacon-nameB { margin-left: 10%; font-size: 14px;}
  .about-deacon-rowB { padding-left:12.5%; padding-right: 7.5%;}
}

/* About Deacon Section END */

.about-page-container {
  background-color: #f4f2ed;
  width: auto;
}

.about-restofus-header {
  font-family: "Alice", serif;
  font-weight: 600;
  margin-top: 75px;
  margin-bottom: 100px;
}

.about-restofus-image {
  width: 45vw;
  height: auto;
  padding-top: 3%;
  padding-bottom: 4%;
  width: 90%;
}

.about-restofus-frame {
  margin-top: 50px;
  margin-left: 20%;
  width: 60vw;
  height: auto;
  background-image: url('./photos/polaroidframeedited.PNG');
  background-size: 100% 100%;
  box-shadow: 0px 0px 10px 20px #874f1f;
}

.about-space {
  padding-bottom: 100px;
}

/* About Page END */

/* Fellowship Page BEGIN */

.f-intro-container{
  background-attachment: fixed;
  background-image: url('./photos/biblecandle.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
  opacity: 0.85;
  color: white;
}

.f-fg-container{
  background-attachment: fixed;
  background-image: url('./photos/biblestudy.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  opacity: 0.9;
  color: white;
}

.f-pm-container{
  background-attachment: fixed;
  background-image: url('./photos/prayergroup.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  opacity: 0.9;
  color: white;
}

.f-tc-container{
  background-attachment: fixed;
  background-image: url('./photos/seminarybook.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  opacity: 0.85;
  color: white;
}

.f-sg-container{
  background-attachment: fixed;
  background-image: url('./photos/saturdaygroup.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  opacity: 0.75;
  color: white;
}

.f-pg-container{
  background-attachment: fixed;
  background-image: url('./photos/parentgroup.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  opacity: 0.8;
  color: white;
}

.f-fg-header {
  padding-top: 10vw;
}

.f-pm-header {
  color: black;
  padding-top: 10vw;
}

.f-tc-header {
  padding-top: 10vw;
}

.f-sg-header {
  padding-top: 10vw;
}

.f-pg-header {
  padding-top: 10vw;
}

.f-fg-text {
  font-size: 22px;
  font-weight: 600;
  padding-top: 10vw;
  margin-left: 20vw;
  margin-right: 20vw;
  animation: fadeIn 2s;
}

.f-intro-text {
  font-size: 22px;
  font-weight: 600;
  padding-top: 20vw;
  margin-left: 20vw;
  margin-right: 20vw;
  animation: fadeIn 2s;
}

.f-row {
  width: 100vw;
}

.f-description {
  background-color: white;
  color: black;
  border-radius: 10%;
  width: 40vw;
  margin-top: 2.5vw;
  margin-left: 20vw;
  padding: 2.5vw;
  opacity: 0.7;
}

.f-info {
  background-color: lightgrey;
  border-radius: 10%;
  color: black;
  margin-top: 6vw;
  margin-bottom: auto;
  padding-top: 2.5vw;
  padding-left: 10px;
  padding-bottom: 2.5vw;
  margin-right: 10vw;
  width: 250px;
  text-align: left;
}
/* before changes */

.fellowship-intro-container {
  background-attachment: fixed;
  background-image: url('./photos/biblestudy.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  opacity: 0.85;
  color: white;
}

.fellowship-intro-text {
  font-size: 22px;
  font-weight: 600;
  padding-top: 16vw;
  margin-left: 20vw;
  margin-right: 20vw;
  animation: fadeIn 2s;
}

.fellowship-intro-header {
  padding-top: 10vw;
  font-weight: 900;
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
/*
@media screen and (max-width: 450px) {
  .about-mission-header{ padding-top: 15vw; font-size: 32px; }
  .about-mission-text{ font-size: 16px; }
}

@media screen and (max-width: 360px) {
  .about-mission-header{ padding-top: 28vw; font-size: 28px; }
  .about-mission-text{ font-size: 14px; }
}
*/

.fellowship-page-background {
  background-color: #f4f2ed;
  width: auto;
  font-family: 'Alice', serif;
}

.fellowship-row {
  width: 100vw;
}

.fellowship-slider {
  width: 40vw;
  margin-left: 20vw;
}

.fellowship-info {
  background-color: lightgrey;
  border-radius: 10%;
  margin-top: 5vw;
  margin-bottom: auto;
  padding-top: 2.5vw;
  padding-left: 10px;
  padding-bottom: 2.5vw;
  margin-right: 10vw;
  width: 250px;
  text-align: left;
}

.fellowship-container {
  padding-top: 100px;
}

.fellowship-description {
  padding-top: 50px;
  margin-left: 20vw;
  width: 60vw;
  padding-bottom: 100px;
}

.fellowship-header {
  font-weight: 600;
  margin: auto;
  padding-bottom: 50px;
}

.fellowship-tdmargin {
  margin-left: 10px;
}

/* Fellowship Page END */

.col {
  padding: 10px 0 0 0;
}

.container {
  margin-top: 130px;
}

.direction-emc {
  font-size: 1.3em;
  font-weight: 900;
}

.emc-brand-blue {
  font-family: 'Archivo Black', sans-serif;
  color: #5058b2;
  font-size: 1.3em;
}

.emc-brand-red {
  font-family: 'Archivo Black', sans-serif;
  color: #ad574e;
  font-size: 1.3em;
}

.emc-title-blue {
  color: #5058b2;
  font-size: 0.8em;
}

.emc-title-red {
  color: #ad574e;
  font-size: 0.8em;
}

.gospel-img {
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.home-tri-section-header {
  color: #5058b2;
  font-family: 'PT Serif Caption', serif;
  font-size: 2.8vw;
  font-weight: 900;
}

.home-header {
  font-family: 'PT Serif Caption', serif;
}

.home-text {
  font-size: 1.2em;
  font-family: 'Alice', serif;
}

.home-tri-section-content {
  font-family: 'Alice', serif;
  font-size: 2vw;
}

.img-in-pa {
  width: 370px;
  height: auto;
}

.login-button {
  padding-left: 10px;
}

.name-me-section-home {
  font-family: 'PT Serif Caption', serif;
  color: black;
}

.name-me-section-home:hover {
  color: #ad574e;
}

.name-me-img-home {
  width: 350px;
  height: 212px;
}

.name-me-text {
  font-family: 'PT Serif Caption', serif;
  padding-top: 20px;
}

.nav-link {
  font-weight: 400;
  position: relative;
}

.nav-link:after,
.nav-link:before {
  transition: all .5s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #ad574e;
  height: 1px;
}

.nav-link:hover:after {
  width: 100%;
}

.nav-link:hover {
  color: #ad574e !important;
}

.section-icon {
  text-align: right;
  font-size: 2em;
}

.sunday-time {
  font-size: 2.2em;
}

/*Footer Begin*/
.copyright {
  color: gray;
}

.footer-container {
  padding-top: 30px;
  text-align: center;
  height: 200px;
  margin-top: 50px;
  background-color: #555;
}

.social-wrap button {
  margin: 20px;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  font-size: 1.25em;
  -webkit-transition: color .25s ease-out, background .25s ease-out, border-radius .25s ease-out;
  transition: color .25s ease-out, background .25s ease-out, border-radius .25s ease-out;
  box-shadow: 0px 27px 73px -10px rgba(0, 0, 0, 0.75);
}
.social-wrap button:hover {
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 27px 45px -10px rgba(0, 0, 0, 0.75);
}
.social-wrap .facebook {
  color: #3b5998;
  background-color: #fff;
}
.social-wrap .facebook:hover {
  color: #fff;
  background-color: #3b5998;
}
.social-wrap .facebook:active {
  background-color: #fff;
  color: #3b5998;
}
.social-wrap .twitter {
  color: #00aced;
  background-color: #fff;
}
.social-wrap .twitter:hover {
  color: #fff;
  background-color: #00aced;
}
.social-wrap .twitter:active {
  background-color: #fff;
  color: #00aced;
}
.social-wrap .youtube {
  color: #ae0000;
  background-color: #fff;
}
.social-wrap .youtube:hover {
  color: #fff;
  background-color: #ae0000;
}
.social-wrap .youtube:active {
  background-color: #fff;
  color: #ae0000;
}
/*Footer End*/

/*Home Page @media BEGIN*/

@media screen and (max-width: 900px) {
  .home-tri-section-header { font-size: 30px; }
  .sunday-time { font-size: 30px; }
  .home-tri-section-content { font-size: 20px; }
}

@media screen and (max-width: 500px) {
  .home-tri-section-header { font-size: 20px; }
  .home-tri-section-content { font-size: 15px; }
  .direction-emc { font-size: 17px; }
}

@media screen and (max-width: 416px) {
  .emc-title-blue {
    width: 1px;
    visibility: hidden;
  }

  .emc-title-red {
    visibility: hidden;
    width: 1px;
  }

  .navbar-brand {
    width: 80px;
  }
}

/*Home Page @media END*/
